<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.douban">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="豆瓣项目"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SearchActivity" />
        <activity
            android:name=".Activity.BoxofficeActivity"
            android:label="北美票房榜"></activity>
        <activity
            android:name=".Activity.Top250Activity"
            android:label="top250"></activity>
        <activity android:name=".Activity.CastsDetail" />
        <activity android:name=".Activity.MovieDetail" />
        <activity android:name=".Activity.AboutActivity"></activity>
    </application>

</manifest>